.App {
  text-align: center;
}

body{
  background-color:#000;
}
h1{
  color: #FFFFFF;
}
.header {
  display: flex;
  top: 0;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 10vh;
  background: #009688;
  color: white;
}

img{
  margin: 20px;
  border-radius: 10px;
}
.title{
  padding:10px;
  font-weight:bold;
}

a {
  color: white;
  text-decoration: underline;
}

footer {
  display: flex;
  width: 100%;
  bottom: 0;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #009688;
  color: white;
}
.container-talkies{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #00796B;
  color: #FFFFFF;
  padding: 5px 20px 5px 20px;
  margin: 1rem;
  border-radius: 10px;
}
.container-logo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}
.container-nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: medium;
}
.container-creator{
  display: flex;
}
.container-product{
  display: flex;
}
.graph{
  align-items: center;
}

a:link, a:visited {
  background-color: #009688;
  color: #FFFFFF;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right:2px;
  border-radius: 5px;
}

a:hover, a:active {
  background-color: #FFA000;
  border: 3px solid #000000;
  color: #000000;
  font-weight: bold;
}
.img-container{
  position: sticky;
}

@media(max-width: 500px){
  img{
    width: 100% !important;
    height: auto !important;
  }
  .container-product{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-logo{
    display: flex;
    flex-direction: column;
  }
  .container-creator{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer{
    font-size: smaller;
  }
  .title{
    font-size: large;
  }
  .container-nav{
    display: flex;
    justify-content: center;
    align-items: space-around;
    font-size: x-small;
  }
  header{
    display: flex;
    flex-direction: column;
  }
  .container-head{
    display: flex;
  }
  .img{
    height: 50px;
    width: 50px;
  }
}